{% extends 'pizzaapp/base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Welcome Page</a>
  <a href="/adminorders/" class="nav-items" style="color: black; text-decoration: none;" >All Orders</a>
  <a class = "btn btn-danger" href="/admin/logout/">Logout</a>
 
</nav>

<form method="post" action="/addpizza/">
	{% csrf_token %}
	<div class="container" style= "width: 530px; display: block;margin: auto;">
	<input type="text" placeholder="name" class = "form-control" name="pizza" style ="width: 200px; display: inline; margin: auto;">
	<input type="text" placeholder="price" class = "form-control" name="price" style ="width: 200px; display: inline; margin: auto;">
	<input  style = "display: inline; margin: auto;" type="submit" name="" value="ADD" class=" btn btn-success" >
	</div>
</form>
<div class="container" style="width: 90%; display: block;margin: auto; margin-top: 50px; margin-right: 70px">
	<table class = "table table-dark" style = "width: 50% ">
		<thead>
	<tr>
		
		<th scope="col">Pizza Name</th>
		<th scope="col">Price</th>
		<th scope="col">Delete</th>

	</tr>
	</thead>
	<tbody>
	{% for pizza in pizzas %}
	<tr>
		
		<td> {{pizza.name }}</td>
		<td> {{ pizza.price }}</td>
		<td><a href="/deletepizza/{{ pizza.id }}" class="btn btn-danger">Delete</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}