{% extends 'pizzaapp/base.html' %}
{% block content %}


<div style =" padding: 20px; width:25% ;background-color: black; display: block;
margin:auto; margin-top: 300px ">
<h1 style="text-align: center;color: white">LOGIN</h1>

<form method="post" action="/customerauthenticate/">
{% csrf_token %} 
	<input type="text"  style = "margin-bottom: 15px" class = "form-control"placeholder = "username " name="username">
	<input type="password" class = "form-control" placeholder="password" name="password">
	<input type="submit" style = "display: block; margin: auto; margin-top: 10px" 
	class ="btn btn-success"name="">
</form>

{% for message in messages %}
<p style="text-align: center; color: white; display : block" >{{message}}</p>
{% endfor %}
</div>
{% endblock %}